@use 'scss' as s;

.projects {
  @include s.Fade-In;
  @include s.centerFlex;
  flex-flow: column;

  padding-bottom: 5rem;

  .title {
    margin-top: s.$project-margin;
    color: crimson;
  }

  .container {
    @include s.centerGrid;
    grid-template-columns: 1fr 1fr;
    gap: 10rem;
  }
}
