@use 'scss' as s;

$project_img_size: 5rem;

.project {
  @include s.Fade-In;
  margin: 5rem 20rem;

  .title {
    font-size: 3rem;
    text-align: center;
    color: crimson;
  }

  .body {
    font-size: 1.4rem;

    @include s.centerFlex;
    flex-flow: column;
  }

  .imgContainer {
    @include s.SixteenByNine($project_img_size);
    margin: 2.5rem;
  }

  .infoContainer {
    padding: 2.5rem;

    @include s.centerGrid;
    grid-template-columns: 9fr 1fr;
  }

  .tech {
    margin-left: 1rem;
    border: 1px solid black;
    li {
      font-size: 1.6rem;
      display: flex;
      gap: 1rem;
      margin: 1rem;
    }
    p {
      transform: translateY(0.2rem);
    }
  }

  .techIcon {
    @include s.Square(3rem);
  }

  .links {
    height: 30vh;
    @include s.centerFlex;
    flex-flow: column;
    gap: 1rem;
  }
}
