@mixin Fade-In($value, $timer) {
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @-moz-keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  $animation-value: $value;
  $animation-timer: $timer;

  & {
    opacity: 0;
    /* make things invisible upon start */
    -webkit-animation: fadeIn ease-in $animation-value;
    /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation: fadeIn ease-in $animation-value;
    animation: fadeIn ease-in $animation-value;

    -webkit-animation-fill-mode: forwards;
    /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: $animation-timer;
    -moz-animation-duration: $animation-timer;
    animation-duration: $animation-timer;
  }
}
