.nav {
  font-weight: 200;

  @include centerFlex;
  justify-content: space-between;
  padding: 2rem 5rem;

  background-color: rgba($black, 0.9);
  color: white;

  &__links {
    // fixes weird centering issue
    transform: translate(-100%, 0);
  }
}
