$nav-accent: orangered;

.nav {
  &__accent {
    color: $nav-accent;
  }

  font-weight: 200;

  @include centerFlex;
  justify-content: space-between;
  padding: 1rem 5rem;

  background-color: rgba($black, 0.9);
  color: white;

  &__links {
    font-size: 1.2rem;

    @include centerFlex;
    flex-flow: wrap;

    // transform fixes centering slightly
    transform: translate(-8%, 0%);

    div {
      margin: 0rem 0.5rem;
      padding: 0rem 0.5rem;
      border-radius: 0.2rem;

      transition: all 0.25s;

      &:hover {
        color: $nav-accent;
        background-color: rgba(white, 0.1);
      }
    }
  }

  &__icons {
    font-size: 1.2rem;

    @include centerGrid;
    grid-template-columns: 1fr 1fr;

    a {
      margin-left: 1rem;

      border-radius: 50%;

      transition: all 0.25s;

      &:hover {
        background-color: crimson;
      }
    }
  }

  &__github {
    position: relative;
    $size: 2rem;
    height: $size;
    width: $size;
  }
}
