.nav {
  font-weight: 200;

  @include centerFlex;
  justify-content: space-between;
  padding: 2rem 5rem;

  background-color: rgba($black, 0.9);
  color: white;

  &__links {
    font-size: 1.2rem;

    @include centerFlex;
    flex-flow: wrap;

    // transform fixes centering slightly
    transform: translate(-10%, 0%);

    div {
      margin: 0rem 0.5rem;
      padding: 0rem 0.5rem;

      border-radius: 0.2rem;

      transition: all 0.25s;

      &:hover {
        color: crimson;
        background-color: rgba(white, 0.1);
      }
    }
  }

  &__icons {
    font-size: 1.2rem;

    @include centerFlex;
    flex-flow: wrap;

    div {
      margin-left: 1rem;
    }
  }

  &__accent {
    color: crimson;
  }
}
