.nav {
  @include centerFlex;
  margin: 1rem 0rem;

  &__login-btn {
    font-size: 2.5rem;

    padding: 0.1rem 0.5rem;

    color: white;
    background-color: black;

    border: 0.2rem solid black;
    border-radius: 0.5rem;

    transition: all 0.25s;

    &:hover {
      color: black;
      background-color: white;
    }

    &:active {
      color: black;
      background-color: lightgray;
    }
  }
}
