@use 'scss' as s;
$about_size: 15rem;

.about {
  background-color: #eee;
  padding: 5rem 15vw;
  padding-bottom: 5rem;
  z-index: 100;

  .item {
    @include s.centerGrid;
    grid-template-columns: 1fr 1fr;
  }

  .body {
    margin: 4rem;
  }

  .title {
    font-size: 2.5rem;
    font-weight: 700;
    color: crimson;
    text-align: center;
  }

  .text {
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.05rem;

    margin-bottom: 2rem;
  }

  .image {
    position: relative;
    height: $about_size;
    width: $about_size;
  }
}
