@use 'scss' as s;

.after {
  @include s.centerFlex;
  flex-flow: column;
  background-color: #ddd;

  padding: 5rem 0rem;

  .contact {
    text-align: center;

    font-size: 3rem;
    font-weight: 700;

    margin-bottom: 5rem;
  }
}
