@use 'scss' as s;

$nav-accent: orangered;
$icon_size: 2.5rem;

.nav {
  position: relative;

  &__accent {
    color: $nav-accent;
  }

  font-weight: 200;

  @include s.centerFlex;
  justify-content: space-between;
  padding: 1rem 5rem;

  background-color: rgba(s.$black, 0.9);
  color: white;

  &__links {
    @include s.fixedCenter;
    font-size: 1.4rem;
    font-weight: 500;

    @include s.centerFlex;
    flex-flow: wrap;

    div {
      margin: 0rem 0.5rem;
      padding: 0rem 0.5rem;
      border-radius: 0.2rem;

      transition: all 0.25s;
      cursor: pointer;

      &:hover {
        color: $nav-accent;
        background-color: rgba(white, 0.1);
      }
    }
  }

  &__icons {
    font-size: 1.4rem;

    @include s.centerGrid;
    grid-template-columns: 1fr 1fr;

    a {
      margin-left: 1rem;

      transition: all 0.25s;

      &:hover {
        border-radius: 50%;
        background-color: crimson;
      }
    }
  }

  &__resume {
    visibility: hidden;
    position: relative;
    height: $icon_size;
    width: $icon_size;
    border-radius: 0.3rem;
    transition: all 0.25s;

    cursor: pointer;

    &:hover {
      background-color: crimson;
    }
  }

  &__github {
    border-radius: 50%;
    position: relative;
    height: $icon_size;
    width: $icon_size;
  }
}
