$about_size: 15rem;

.about {
  background-color: #eee;
  padding: 5rem 15vw;
  padding-bottom: 5rem;

  &__item {
    @include centerGrid;
    grid-template-columns: 1fr 1fr;
  }

  &__body {
    margin: 4rem;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: 700;
    color: crimson;
    text-align: center;
  }

  &__text {
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.05rem;

    margin-bottom: 2rem;
  }

  &__image {
    position: relative;
    height: $about_size;
    width: $about_size;
  }
}
