.about {
  @include centerGrid;
  grid-template-columns: 1fr 1fr;
  background-color: #eee;
  padding: 0rem 25vw;
  font-size: 1rem;

  &__grid-item {
    margin: 2vw;
  }

  &__title {
    font-size: 2rem;
    font-weight: 700;
    color: crimson;
  }

  &__body {
    font-weight: 500;
  }
}
