.contact {
  @include centerGrid;
  grid-template-columns: 1fr 1fr;
  align-items: baseline;

  background: linear-gradient(120deg, white, #aaa);
  height: 81vh;
  padding-top: 5rem;

  &__title {
    font-size: 3rem;
    color: crimson;
  }

  input,
  textarea {
    width: 125%;
    padding: 0.25rem;
    border-radius: 0rem;
    border: 1px solid black;
    background-color: #eee;
    font-size: 1.6rem;

    transition: all 0.2s;

    &:focus,
    &:active {
      background-color: white;
      outline: none;
    }

    &::placeholder {
      font-weight: 500;
      font-size: 1.8rem;
      text-align: center;
    }
  }

  ////////////////////
  //// form start ////
  ////////////////////

  &__form {
    @include centerFlex;
    flex-flow: column;
  }

  &__item {
    @include centerFlex;
    flex-flow: column;
    margin: 0rem 0.5rem;
    width: 100%;

    textarea {
      height: 10rem;
      resize: none;
    }
  }

  &__error {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    color: crimson;
    margin-bottom: 0.25rem;
  }

  ////////////////////
  ///// form end /////
  ////////////////////

  &__info {
    font-size: 1.2rem;

    @include centerFlex;
    justify-content: unset;

    gap: 5rem;

    flex-flow: column;

    width: 100%;
    height: 100%;
  }

  &__info-group {
    @include centerFlex;
    flex-flow: column;
  }
}
