.home {
  background-color: $black;
  position: relative;

  &__image {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    opacity: 20%;

    transition: all 0.2s;
  }

  &__info {
    @include fixedCenter;

    text-align: center;
    font-size: 5rem;
    font-weight: 400;

    color: white;
    background-color: rgba(white, 0.2);

    padding: 1rem 2rem;
    border-radius: 0.5rem;
  }

  &__accent {
    color: crimson;
  }
}
