.home {
  // @include centerFlex;
  background-color: $black;
  position: relative;

  &__image {
    // @include Fade-In(0.25s, 0.25s, 20%);
    opacity: 20%;
  }

  &__info {
    @include fixedCenter;

    text-align: center;
    font-size: 3rem;
    font-weight: 400;

    color: white;
    background-color: rgba(white, 0.2);

    padding: 1rem 2rem;
    border-radius: 0.5rem;
  }

  &__accent {
    color: crimson;
  }
}
