.home {
  @include centerFlex;
  background-color: $black;
  position: relative;

  &__image {
    @include Fade-In(0.5s, 0.5s, 20%);
    z-index: 1;
  }

  &__info {
    @include fixedCenter;

    text-align: center;
    font-size: 5rem;
    font-weight: 400;

    color: white;
    background-color: rgba(white, 0.2);

    padding: 1rem 2rem;
    border-radius: 0.5rem;
    z-index: 2;
  }

  &__accent {
    color: crimson;
  }
}
