$project-margin: 4rem;
.projects {
  @include centerFlex;
  flex-flow: column;

  padding-bottom: 5rem;

  &__title {
    margin-top: $project-margin;
    color: crimson;
  }
}

.project-card {
  border: 0.1rem solid black;
  padding: 0.2rem;
  width: 50rem;

  margin: $project-margin 0rem;

  &__title {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem;
  }

  &__body {
    padding: 2rem;
  }

  &__desc {
    font-size: 1.6rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
  }

  &__button {
    @include centerFlex;
    margin: 1rem 0rem;
  }
}
